@model VäderAPI.Models.weather

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>weather</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.windSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.windSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.windDirection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.windDirection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gustSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gustSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.airTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waterTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waterTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.battery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.battery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
